@use "../../variables.scss" as *;

.Hero {
  min-height: 100vh;
  background: url("../../assets/bg.png") right top no-repeat;
  background-size: auto; /* s’adapte mais garde proportions */
  overflow: visible;
  margin: 0;
  min-width: 100%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw; /* plein écran */

  &__Title {
    margin: auto;
    max-width: 1920px;
    font-family: "ClashDisplay-Semibold";
    padding: 240px 220px 200px 220px;
    opacity: 0;
    transform: translateX(-50vw);
    animation: fadeUp 1s ease-out forwards;
    h1,
    h2 {
      font-size: 6rem;
    }
  }

  &__Subtitle {
    font-size: 2.25rem;
    font-family: "Poppins-ExtraLight";
    color: $primary-color;
    position: relative;

    span {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        width: 107px;
        height: 56px;
        background: url("../../assets/underline.svg");
        position: absolute;
        bottom: -70px;
        right: 0;
      }
    }
  }

  &__SocialLinks {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 100px;
    transform: translateY(25vh);
    animation: fadeUp 1s ease-out forwards;

    @media (max-width: 600px) {
      gap: 10px;
    }

    .Link {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 15px 20px;
      border: 1px solid $primary-color;
      border-radius: 30px;
      font-family: "Poppins-ExtraLight";
      font-size: 1.5rem;
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        background: $primary-color;
        color: $background-color;
      }
    }
  }

  @media (max-width: 900px) {
    &__Title {
      padding: 240px 180px 200px 180px;
    }

    &__SocialLinks {
      margin-right: 80px;
    }
  }

  @media (max-width: 600px) {
    background-size: cover;
    &__Title {
      padding: 240px 60px 175px 60px;
    }

    &__SocialLinks {
      justify-content: center;
      margin-right: 0px;
      .Link {
        font-size: 1.2rem;
        padding: 10px 15px;
      }
    }
  }

  @media (max-width: 400px) {
    &__Title {
      padding: 240px 50px 175px 50px;
      .Link {
        font-size: 1rem;
        padding: 8px 12px;
      }
    }
    &__SocialLinks {
      justify-content: center;
      margin-right: 0px;
      .Link {
        padding: 10px 15px;
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 1920px) {
    &__SocialLinks {
      margin: auto;
      max-width: 1920px;
    }
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
