.home {
  width: 100%;
  min-height: 100vh;

  .title-div {
    margin-top: 20vh;
    margin-left: 15%;
    margin-right: 90%;
    width: 750px;

    .title-2 {
      font-family: "ClashDisplay-Semibold", monospace;
      font-size: xx-large;
      letter-spacing: 0.5rem;
      margin: auto;
      text-align: center;
    }

    .title-1 {
      font-family: "ClashDisplay-Bold", monospace;
      font-size: 9rem;
      text-align: center;
    }

    .citation {
      margin-top: 50px;
      letter-spacing: 0.2rem;
      text-align: center;
      font-family: "ClashDisplay-Regular", monospace;
      p {
        padding-bottom: 10px;
      }
    }
  }
  .social-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.6rem;
      letter-spacing: 0.2rem;
      text-align: center;
      margin-left: 10px;
    }

    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      background-color: rgba(196, 196, 196, 0.041);
      border-radius: 31px;
      padding: 10px;
      font-family: "ClashDisplay-Regular", monospace;
      img {
        margin-right: 10px;
        color: white;
      }
    }
  }

  .desc {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    font-family: "Helvetica", "Arial", sans-serif;
  }
}

.changesection {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;

  p {
    font-family: "ClashDisplay-Semibold", monospace;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    text-decoration: underline;
  }
}

/* ---- Screen Rules ---- */
@media screen and (max-height: 850px) {
  .home {
    .title-div {
      margin-top: 10vh;
    }
  }
}

@media screen and (max-height: 740px) {
  .home {
    .title-div {
      margin-top: 5vh;
    }
  }
}

@media screen and (max-height: 700px) {
  .home {
    .title-div {
      margin-top: 2vh;
    }
  }
}

@media screen and (max-height: 670px) {
  .home {
    .changesection {
      position: relative;
      bottom: 0;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1050px) {
  body {
    background: url(../../res/background.png) cover fixed no-repeat;
    background-position: 100% 0%;
  }
}

@media screen and (max-width: 1125px) {
  .home {
    .title-div {
      margin-left: 0;
      margin-right: 0;
      margin: auto;
    }
  }
}
@media screen and (max-width: 850px) {
  .project {
    .project-content {
      margin-left: 0;
      margin: auto;
      margin-top: 2rem;
      width: 90%;
      text-align: center;
      .title-project {
        font-size: 2rem;
        margin-left: 3rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  body {
    background-color: black;
  }
  .home {
    .title-div {
      width: 90%;

      .title-1 {
        margin-top: 4vh;
        font-size: 6rem;
      }

      .title-2 {
        font-size: 2rem;
      }
      .citation {
        margin-top: 20px;
      }
      .social-content {
        margin-top: 10px;
        margin-bottom: 10px;
        a {
          margin: 4px;
        }
      }

      .desc {
        margin: auto;
        width: 70%;
      }
    }
    .changesection {
      position: relative;
      bottom: 0;
      margin-top: 20px;
    }
  }

  .project {
    .project-content {
      margin-top: 0;
      margin-left: 0;

      .title-project {
        font-size: 2rem;
        margin-left: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project {
    min-height: auto;
    margin-bottom: 50px;
    .project-content {
      .project-car {
        img {
          height: auto;
          width: 80%;
          margin-right: 1rem;
        }
      }
    }
  }
}
