@use "./variables.scss" as *;
@use "sass:color";

html {
  font-size: 19px;

  @media (max-width: 900px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
  }

  @media (max-width: 400px) {
    font-size: 9px;
  }

  @media (min-width: 2560px) {
    font-size: 20px;
  }
}

/* ClashDisplay */
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("./assets/font/ClashDisplay-Regular.woff2") format("woff2"),
    url("./assets/font/ClashDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./assets/font/ClashDisplay-Bold.woff2") format("woff2"),
    url("./assets/font/ClashDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("./assets/font/ClashDisplay-Semibold.woff2") format("woff2"),
    url("./assets/font/ClashDisplay-Semibold.woff") format("woff");
}

/* Poppins */

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/font/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("./assets/font/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/font/Poppins-SemiBold.ttf") format("truetype");
}

/*  OverTheRainbow */

@font-face {
  font-family: "OverTheRainbow";
  src: url("./assets/font/OvertheRainbow-Regular.ttf") format("truetype");
}

.loader {
  span {
    border: 4px solid #f3f3f3; /* gris clair */
    border-top: 4px solid $primary-color; /* couleur du spinner */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: auto; /* centrer */
  }
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
  color: $secondary-color;
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
}

.nav {
  z-index: 10;
  width: calc(100% - 6rem);
  max-width: 1920px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;

  .back {
    font-family: "ClashDisplay-Semibold";
    font-size: 1.25rem;
    color: $primary-color;
    position: relative;
    cursor: pointer;
  }

  .lang {
    font-family: "ClashDisplay-Semibold";
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1.25rem;
    gap: 5px;

    .separator {
      color: $primary-color;
      font-family: "ClashDisplay-Regular";
    }

    .selector {
      cursor: pointer;
      color: $primary-color;

      &.active {
        color: $secondary-color;

        &:hover {
          color: $secondary-color;
        }
      }

      &:hover {
        color: color.adjust($primary-color, $lightness: -20%);
      }
    }

    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background: url("./assets/selector.svg") no-repeat center/contain;
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      transition: transform 0.3s ease;
    }

    &.fr-active::after {
      transform: translateX(0);
    }

    &.en-active::after {
      transform: translateX(2.368rem);
    }
  }
}

footer {
  margin: 100px 0 100px 0;
  text-align: center;
  font-family: "Poppins-ExtraLight";
  color: $secondary-color;
  font-size: 1rem;

  a {
    font-family: "OverTheRainbow";
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
